body:not(:-moz-handler-blocked) fieldset {
	display: table-cell;
}

input,
select,
textarea {
	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		transition: background-color 5000s ease-in-out 0s;
		transition-delay: 5000s;
	}
}
